[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

[user]
	email = evan.razzaque7@gmail.com
	name = evan-razzaque

[init]
	defaultBranch = main

[alias]
	amend-changes = commit -a --amend --no-edit
